.mat-mdc-card {
  padding: 30px;
  margin: 10px;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 10px;
}
.container button:hover {
  background-color: #00afad;
  color: white;
}
.btn {
  padding: 30px;
  font-weight: 550;
  border-radius: 10px;
  width: 150px;
  transition-duration: 0.4s;
  margin: 20px;
}

.btn:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.picture img {
  max-width: 100%;
  max-height: 80%;
  display: flex;
 
}
.heading {
  padding-left: 20px;
  padding-top: 15px;
}

.fab {
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 150px;
  height: 56px;
  background-color: #5a4673; 
  color: #fff; 
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
    text-align: left;
}

.fab:hover {
  background-color: #00afad;
}
